/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root {
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);

    --font-popping: 'Poppins';
    --font-light: 200;
    --font-regular: 400;
    --font-semi-bold: 600;
}

body {
    font-family: var(--font-popping, sans-serif);
    font-size: 0.938rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.card-preview__title {
    font-weight: var(--font-light);
    font-size: 1.5rem;
}

.card-preview__sub-title {
    font-weight: var(--font-semi-bold);
    font-size: 1.25rem;
    opacity: 0.9;
}

.card-preview__descriptions {
    opacity: 0.5;
    margin-bottom: 4rem;
    margin-top: 0.5rem;
}

.card {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
    border-radius: 4px;
    box-shadow: 0px 11px 15px -3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card>p {
    opacity: 0.5;
}

.card>img {
    margin-left: auto;
    margin-top: 2rem;
}

.card-preview__suppervisor-card {
    border-top: 3px solid var(--color-cyan);
}

.card-preview__team-card {
    border-top: 3px solid var(--color-red);

}

.card-preview__karma-card {
    border-top: 3px solid var(--color-orange);

}

.card-preview__calculator-card {
    border-top: 3px solid var(--color-blue);

}

:is(.card-preview__title,
    .card-preview__sub-title,
    .card-preview__descriptions) {
    text-align: center;
}

@media(min-width:850px) {
    .card-preview {
        max-width: 1200px;
        margin: 0 auto;
    }

    .card-preview__title {
        font-size: 2.125rem;
    }

    .card-preview__sub-title {
        font-size: 1.875rem;
    }

    .card-preview__descriptions {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }

    .card-preview__cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2%;
        justify-content: space-around;
    }

    .card-preview__suppervisor-card,
    .card-preview__calculator-card,
    .card-preview__team-karma {
        flex-basis: 32%;
    }

    .card {
        margin: 1rem 0rem;
    }
}